

/*-----Start CSS Reset style------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
menu li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----End CSS Reset style------*/


body {
   text-align: center;
   font-size: 25px;
}

.wrapper {
   margin: 100px;
}

.number-form {
   margin: 10px;
}

.price-input {
   border: 1px solid black;
   margin-left: 10px;
   font-size: 20px;
}

/* .price-input:focus {
   border: 3px solid green;
} */

.show-price-wrap {
   display: inline-flex;
   border-radius: 22px;
   padding: 7px;
}

.skip-prise-btn {
   display: inline-block;
   margin: auto 5px;
   text-align: center;
   width: 20px;
   height: 20px;
   border: 1px solid grey;
   border-radius: 50%;
}

.skip-prise-btn:hover{
   background-color: lightgrey;
}

.skip-prise-btn:active{
   background-color: grey;
}